.button {
  margin-right: 10px;
  height: 40px;
  width: 170px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: 0px solid #ffffff;
  background-color: transparent;
  font-weight: 600;
  margin-left: -10px;
}

.isActiveButton {
  color: #f82727;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #f54242;
  font-weight: 700;
}

@media (min-width: 1024px) {
}
